*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(211, 219, 226);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;

}
.first{
    background-color: black;
    color: white;
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    

}
.first2{
    background-color: black;
    color: white;
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    

}
.first3{
    background-color: black;
    color: white;
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    

}
.logo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: larger;
}
.services{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: bold;
    font-size: larger;
}
button{
    font-weight: bold;
    height: 50%;
    width: 100px;
    border-radius: 50px;
    background-color: rgb(17, 151, 99);
    color: white;
}
.button2{
    height: 30px;
    width: 100px;
}
@media screen and (max-width: 640px){
    .first {
        flex-direction: column;

        
    }}