* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    display: grid;
    background-color: #1e293b;    
    color: #f8fafc;
    width: 100%;
    height: 100vh;
    grid-template-columns: 400px 1fr 400px;
    grid-template-rows: 30px 1fr 30px;
    gap: 2px;
}

.header{
    background-color: #334155;
    grid-column: 1/4;
    display: grid;
    justify-content: center;
    align-items: center;
}

.nav{
    background-color: #475569;
    display: grid;
    justify-content: center;
    align-items: center;
}

.content{
    background-color: #f8fafc; 
    color: #1e293b;;
    display: grid;
    justify-content: center;
    align-items: center;
}

.sidebar{
    background-color: #475569;
    display: grid;
    justify-content: center;
    align-items: center;
}

.footer{
    background-color: #334155;
    grid-column: 1/4;
    display: grid;
    justify-content: center;
    align-items: center;
}
